---
import siteData from "@/data/siteData.json";
---

<header>
  <div class="container">
    <ul>
      {
        siteData.navLinks.map((link) => {
          const isCurrent =
            Astro.url.pathname === "/" && link.name === "Home"
              ? true
              : Astro.url.pathname.includes(link.name.toLowerCase());

          return (
            <li>
              <a
                aria-current={isCurrent}
                title={`Go to ${Astro.url.origin}${link.url}`}
                href={link.url}
              >
                {link.name}
              </a>
            </li>
          );
        })
      }
      <li>
        <a download href="/resume.pdf">Resume (PDF)</a>
      </li>
    </ul>
  </div>
</header>

<style>
  header {
    padding-block: 1rem;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
  }

  a {
    opacity: 0.75;

    transition: 0.25s;

    will-change: opacity;
  }

  a:hover,
  a[aria-current="true"] {
    opacity: 1;

    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0.025rem;
  }
</style>
