---
import Link from "@/components/Link.astro";
import Spinner from "@/components/loader/spinner.astro";
import MainLayout from "@/layouts/MainLayout.astro";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter((item) => !item.data.draft)
  .sort((a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime());
---

<MainLayout>
  <h1>Projects</h1>
  <Spinner />
  <ul class="grid" id="grid">
    {
      projects.map(({ data }) => {
        return (
          <li class="grid-item">
            <img
              loading="lazy"
              decoding="async"
              src={data.image}
              alt={data.title}
            />

            <div class="content">
              <div class="h5">{data.title}</div>
              {data.description && <p>{data.description}</p>}
              <Link href={data.link}>
                <div>View Project</div>
              </Link>
            </div>
          </li>
        );
      })
    }
  </ul>
</MainLayout>

<script src="@/lib/masonry-grid.ts"></script>

<style>
  @import "@/styles/masonry-grid.css";
</style>
