---
import Link from "@/components/Link.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import "@/styles/grid.css";
import { Picture } from "astro:assets";

import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter((item) => !item.data.draft)
  .sort((a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime());
---

<MainLayout>
  <h1>Projects</h1>
  <ul class="grid" id="grid">
    {
      projects.map(({ data }) => {
        return (
          <li class="grid-item">
            <Picture
              fetchpriority="high"
              src={data.image}
              fit="cover"
              widths={[200, 400, 600, 800]}
              formats={["avif", "webp", "jpeg"]}
              alt={data.title}
            />
            <div class="content">
              <div class="h5">{data.title}</div>
              {data.description && <p>{data.description}</p>}
              <Link href={data.link}>
                <div>View Project</div>
              </Link>
            </div>
          </li>
        );
      })
    }
  </ul>
</MainLayout>
